/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	margin: 0 7.5%;
	max-width: 1000px;
	/* height: 100%; */
	/* border: solid black 1px; */
}

header {


	top: 0;
	/* width: 100%; */
	background-color: white;
}

.header-nav {
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.header-nav a{
	text-decoration: none;
}

.logo {
	justify-content: flex-end;
}



.main {
	display: flex;
	flex-wrap: nowrap;
	padding: 10% 0;
	border-bottom: 1px black solid;
	text-align: center;

}

.main div {
	/* border: 1px solid black; */
	vertical-align:  middle;


}

.main-title {
	font-size: 6rem;
	width: 55%;
	text-align: center;
	display: inline-block;

}

.main-img{
	/* border: 1px solid black; */
	text-align: center;
	display: inline-block;
	width: 44.5%;
}

.img-1{
	height: auto;
	width: 100%;
}
.main-button {
	background-color: white;
	width: 35%;
	height: 40px;
	font-size: 1.2rem;;
	border: 1px solid black;
	margin-top: -100px;
}

.articles{ /*the section*/
	padding: 40px 0;
	border-bottom: 1px black solid;

}

.articles-row-1, .articles-row-2 {
	display: flex;
	justify-content: space-between;
}

.article {
	font-size: 1.2rem;
}


.middle-img{
	width: 100%;
	padding: 5% 0;
}



.footer {
	padding: 5% 0;
	font-size: 1.2rem;
	line-height: 1.2rem;
}

.address{
	display: flex;
	justify-content: flex-start;
}

.copyright {
	padding: 10%;
	justify-content: center;
	display: flex;
	font-size: 1rem;
}

/* ################### */
/* SERVICES START HERE */
/* ################### */



.services header {
	position: fixed;
	top: 0;
	overflow: none;
	width: 1000px;
}
.services header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
}

.services .services-header-img {
	width: 100%;
	margin-top: 78px;
}


.services header nav a:last-child{
	margin-left: 75px;
}

.services header nav a {color: gray;}


.services .intro {

	padding: 20px 0 40px 0;
	border-bottom: 3px solid black;
}

.services .intro h2 {
		font-size: 1.25rem;
}

.services .articles{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	border-bottom: 3px black solid;
}


.services .article {
	color: black;
	width: 47.5%;
	margin: 20px 0;
	border: 1px black solid;
	background-color: #F3F3F3;
	font-size: 1.1rem;
	padding: 30px 40px 20px 20px;
}

.services .article h3 {
	font-size: 1.25rem;
	margin-bottom: 25px;
}

.services .article p {
	margin-bottom: 20px;
}

.services button {
	background-color: white;
	font-size: .8em;
	border: 1px solid black;
	border-radius: 5%;
	width: 150px;
	height: 40px;
	margin-top: 20px;

}



.services .prefooter{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 50px;
	line-height: 1.5rem;
}

.services .prefooter div{
	width: 47.5%;
	font-size: 1.1rem;
}

.services .prefooter img{
	width: 100%;
}

.services .prefooter h3{
margin-bottom: 30px;
}

.services ul {
	list-style: square;
	list-style-position: inside;
	line-height: 2rem;
}

.services .fact-list{
	order: 1
}

.services footer {
	margin-top: 100px;
	display: block;
	text-align: center;
}

@media  (max-width: 578px){


	.services .article {
		width: 100%;
}

	.services .prefooter div{
		width: 100%;
}

	.services header {

		width: 520px;
	}
	.services header nav a:last-child{
		margin-left: 0px;
	}
}
